.u-section-1 .u-sheet-1 {
  min-height: 15943px;
  background-position: 0% 50%;
}

.u-section-1 .u-text-1 {
  animation-duration: 1000ms;
  margin: 208px 675px 0 0;
}

.u-section-1 .u-line-1 {
  width: 372px;
  transform-origin: right center 0px;
  animation-duration: 1000ms;
  margin: 22px auto 0 216px;
}

.u-section-1 .u-image-1 {
  width: 570px;
  height: 569px;
  animation-duration: 1000ms;
  margin: -281px 0 0 auto;
}

.u-section-1 .u-image-2 {
  height: 742px;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-1 .u-image-3 {
  height: 641px;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-1 .u-image-4 {
  width: 418px;
  height: 418px;
  animation-duration: 1000ms;
  margin: 747px auto 0 0;
}

.u-section-1 .u-image-5 {
  width: 722px;
  height: 963px;
  animation-duration: 1000ms;
  margin: -963px 0 0 auto;
}

.u-section-1 .u-image-6 {
  width: 418px;
  height: 747px;
  animation-duration: 1000ms;
  margin: -1165px auto 0 0;
}

.u-section-1 .u-image-7 {
  height: 641px;
  animation-duration: 1000ms;
  margin: 418px 0 0 auto;
}

.u-section-1 .u-image-8 {
  width: 453px;
  height: 569px;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-1 .u-image-9 {
  width: 687px;
  height: 1221px;
  animation-duration: 1000ms;
  margin: -569px auto 0 0;
}

.u-section-1 .u-image-10 {
  width: 453px;
  height: 607px;
  animation-duration: 1000ms;
  margin: -652px 0 0 auto;
}

.u-section-1 .u-image-11 {
  height: 855px;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-1 .u-image-12 {
  width: 613px;
  height: 648px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-13 {
  width: 527px;
  height: 648px;
  animation-duration: 1000ms;
  margin: -648px 0 0 auto;
}

.u-section-1 .u-image-14 {
  width: 570px;
  height: 1013px;
  animation-duration: 1000ms;
  margin: 2px 0 0 auto;
}

.u-section-1 .u-image-15 {
  width: 570px;
  height: 1013px;
  animation-duration: 1000ms;
  margin: -1015px auto 0 0;
}

.u-section-1 .u-image-16 {
  height: 537px;
  animation-duration: 1000ms;
  margin: 2px 0 0 auto;
}

.u-section-1 .u-image-17 {
  width: 638px;
  height: 863px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-18 {
  width: 502px;
  height: 863px;
  object-position: 0% 100%;
  animation-duration: 1000ms;
  margin: -863px 0 0 auto;
}

.u-section-1 .u-image-19 {
  width: 698px;
  height: 1029px;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-1 .u-image-20 {
  width: 442px;
  height: 602px;
  object-position: 50% 100%;
  animation-duration: 1000ms;
  margin: -1029px auto 0 0;
}

.u-section-1 .u-image-21 {
  width: 442px;
  height: 427px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-22 {
  height: 641px;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-1 .u-image-23 {
  width: 474px;
  height: 843px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-24 {
  width: 666px;
  height: 375px;
  animation-duration: 1000ms;
  margin: -843px 0 0 auto;
}

.u-section-1 .u-image-25 {
  width: 666px;
  height: 370px;
  animation-duration: 1000ms;
  margin: 98px 0 0 auto;
}

.u-section-1 .u-image-26 {
  height: 641px;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-1 .u-image-27 {
  width: 570px;
  height: 868px;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-1 .u-image-28 {
  width: 570px;
  height: 570px;
  animation-duration: 1000ms;
  margin: -868px auto 0 0;
}

.u-section-1 .u-image-29 {
  width: 570px;
  height: 321px;
  animation-duration: 1000ms;
  margin: -23px auto 0 0;
}

.u-section-1 .u-image-30 {
  height: 620px;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-1 .u-image-31 {
  height: 760px;
  animation-duration: 1000ms;
  margin: 0 0 0 auto;
}

.u-section-1 .u-image-32 {
  height: 321px;
  width: 570px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-33 {
  width: 570px;
  height: 323px;
  animation-duration: 1000ms;
  margin: 0 auto 0 0;
}

.u-section-1 .u-image-34 {
  width: 570px;
  height: 947px;
  object-position: 50% 100%;
  animation-duration: 1000ms;
  margin: -643px 0 0 auto;
}

.u-section-1 .u-image-35 {
  width: 570px;
  height: 304px;
  animation-duration: 1000ms;
  margin: -304px auto 0 0;
}

.u-section-1 .u-image-36 {
  height: 641px;
  animation-duration: 1000ms;
  margin: 0 0 60px auto;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 15764px;
  }

  .u-section-1 .u-text-1 {
    margin-top: 60px;
    margin-right: 475px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 10px;
    margin-left: 211px;
  }

  .u-section-1 .u-image-2 {
    margin-top: 60px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-3 {
    margin-top: 713px;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-5 {
    margin-top: 223px;
  }

  .u-section-1 .u-image-6 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-7 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-9 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-10 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-11 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-12 {
    height: 647px;
  }

  .u-section-1 .u-image-13 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-14 {
    width: 470px;
    height: 836px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-15 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-16 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-18 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-19 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-20 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-22 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-24 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-25 {
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-26 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-28 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-29 {
    margin-right: 0;
    margin-left: auto;
  }

  .u-section-1 .u-image-30 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-31 {
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-34 {
    margin-top: 20px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-1 .u-image-35 {
    margin-top: 20px;
  }

  .u-section-1 .u-image-36 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 15761px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 255px;
  }

  .u-section-1 .u-image-5 {
    width: 720px;
    height: 960px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 14402px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 75px;
  }

  .u-section-1 .u-image-1 {
    width: 540px;
    height: 539px;
  }

  .u-section-1 .u-image-5 {
    width: 540px;
    height: 720px;
    margin-top: 253px;
  }

  .u-section-1 .u-image-9 {
    width: 540px;
    height: 960px;
  }

  .u-section-1 .u-image-12 {
    width: 540px;
    height: 570px;
  }

  .u-section-1 .u-image-15 {
    width: 540px;
    height: 960px;
  }

  .u-section-1 .u-image-17 {
    width: 540px;
    height: 730px;
  }

  .u-section-1 .u-image-19 {
    width: 540px;
    height: 796px;
  }

  .u-section-1 .u-image-24 {
    width: 540px;
    height: 304px;
  }

  .u-section-1 .u-image-25 {
    width: 540px;
    height: 300px;
  }

  .u-section-1 .u-image-27 {
    width: 540px;
    height: 822px;
  }

  .u-section-1 .u-image-28 {
    width: 540px;
    height: 540px;
  }

  .u-section-1 .u-image-29 {
    width: 540px;
    height: 304px;
    margin-top: 7px;
  }

  .u-section-1 .u-image-32 {
    height: 304px;
    width: 540px;
  }

  .u-section-1 .u-image-33 {
    width: 540px;
    height: 306px;
  }

  .u-section-1 .u-image-34 {
    width: 540px;
    height: 897px;
  }

  .u-section-1 .u-image-35 {
    width: 540px;
    height: 288px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 9214px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 0;
  }

  .u-section-1 .u-line-1 {
    width: 340px;
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 339px;
  }

  .u-section-1 .u-image-3 {
    margin-top: 0;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-image-4 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-image-5 {
    width: 340px;
    height: 453px;
    margin-top: 453px;
  }

  .u-section-1 .u-image-6 {
    width: 340px;
    height: 608px;
  }

  .u-section-1 .u-image-8 {
    width: 340px;
    height: 427px;
  }

  .u-section-1 .u-image-9 {
    width: 340px;
    height: 604px;
  }

  .u-section-1 .u-image-10 {
    width: 340px;
    height: 456px;
  }

  .u-section-1 .u-image-12 {
    width: 340px;
    height: 359px;
  }

  .u-section-1 .u-image-13 {
    width: 340px;
    height: 418px;
  }

  .u-section-1 .u-image-14 {
    width: 340px;
    height: 605px;
  }

  .u-section-1 .u-image-15 {
    width: 340px;
    height: 604px;
  }

  .u-section-1 .u-image-17 {
    width: 340px;
    height: 460px;
  }

  .u-section-1 .u-image-18 {
    width: 340px;
    height: 584px;
  }

  .u-section-1 .u-image-19 {
    width: 340px;
    height: 501px;
  }

  .u-section-1 .u-image-20 {
    width: 340px;
    height: 463px;
  }

  .u-section-1 .u-image-21 {
    width: 340px;
    height: 328px;
  }

  .u-section-1 .u-image-23 {
    width: 340px;
    height: 604px;
  }

  .u-section-1 .u-image-24 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-25 {
    width: 340px;
    height: 189px;
  }

  .u-section-1 .u-image-27 {
    width: 340px;
    height: 518px;
  }

  .u-section-1 .u-image-28 {
    width: 340px;
    height: 340px;
  }

  .u-section-1 .u-image-29 {
    width: 340px;
    height: 191px;
  }

  .u-section-1 .u-image-32 {
    height: 191px;
    width: 340px;
  }

  .u-section-1 .u-image-33 {
    width: 340px;
    height: 193px;
  }

  .u-section-1 .u-image-34 {
    width: 340px;
    height: 565px;
  }

  .u-section-1 .u-image-35 {
    width: 340px;
    height: 181px;
    margin-top: 78px;
  }
}